<!-- Add Student component -->
<section id="student">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <!-- Center of screen show Add Student input box -->
            <div class="col-md-6">
                <div class="form-wrap">
                    <h1>Add a Student</h1>
                    <form [formGroup]="myForm" novalidate autocomplete="off" (ngSubmit)="addStudent(myForm.value,myForm.valid)">
                        <!-- Student Name -->
                        <div class="form-group">
                            <label for="studentName">Enter Student Name:</label>
                            <input type="text" class="form-control" formControlName="studentName" name="studentName" placeholder="Enter the Student Name">
                            <div *ngIf="myForm.controls['studentName'].errors && (myForm.controls['studentName'].dirty || myForm.controls['studentName'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="myForm.controls['studentName'].hasError('required')">
                                    Name is required.
                                </div>
                                <div *ngIf="myForm.controls['studentName'].hasError('pattern')">
                                    Please enter only albhabets.
                                </div>
                                <div *ngIf="myForm.controls['studentName'].hasError('minlength')">
                                    Please enter atleast 2 characeters.
                                </div>
                            </div>
                        </div>
                        <!-- Student Address -->
                        <div class="form-group">
                            <label for="studentAddress">Enter Student Address:</label>
                            <input type="text" class="form-control" formControlName="studentAddress" name="studentAddress" placeholder="Enter the Student Address">
                        </div>
                        <!-- Student Exam Date -->
                        <div class="form-group">
                            <label for="studentExamDate">Enter Exam Date:</label>
                            <input type="date" class="form-control" formControlName="studentExamDate" name="studentExamDate" placeholder="Enter Exam Date">
                        </div>
                        <!-- Student Subject -->
                        <div class="form-group">
                            <label for="studentSubject">Enter Student Subject (using uppercase pipe):</label>
                            <select class="txt-box" name="studentSubject" formControlName="studentSubject" class="form-control">
                                <option [value]="null" [disabled]="true">Select Subject</option>
                                <option *ngFor="let subject of SubjectTypeArray" [ngValue]="subject.id">
                                    {{subject.type | uppercase}}
                                </option>
                            </select>
                        </div>
                        <!-- Student Marks -->
                        <div class="form-group">
                            <label for="StudentMarks">Enter Student Marks:</label>
                            <input type="text" class="form-control" formControlName="studentMarks" name="studentMarks" placeholder="Enter Marks">
                            <div *ngIf="myForm.controls['studentMarks'].errors && (myForm.controls['studentMarks'].dirty || myForm.controls['studentMarks'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="myForm.controls['studentMarks'].hasError('required')">
                                    Marks is required field.
                                </div>
                                <div *ngIf="myForm.controls['studentMarks'].hasError('notInRange')">
                                    Marks Range is 0 to 100.
                                </div>
                                <div *ngIf="myForm.controls['studentMarks'].hasError('notNumeric')">
                                    Enter only numbers.
                                </div>
                            </div>
                        </div>
                        <!-- Submit button -->
                        <input type="submit" id="btn-submit" class="btn btn-success btn-lg btn-block" value="Add">
                        <!-- Form reset button -->
                        <input type="button" id="btn-reset" class="btn btn-info btn-lg btn-block" value="Reset" (click)="resetForm()">
                    </form>
                </div>
                <br>
                <!-- /.form-wrap -->
                <div *ngIf="!bolValidForm">
                    <h2>{{formValidMessage}}</h2>
                </div>
            </div>
            <!-- /.col-md-9 -->
            <div class="col-md-3">
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>